@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 190 80% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 190 80% 95%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 190 80% 95%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 197 71% 53%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 67.8%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 87.8%;
    --muted-foreground: 215 20.2% 45.1%;
    --accent: 174 71% 53%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 87.8%;
    --input: 215 27.9% 87.8%;
    --ring: 197 71% 53%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 197 71% 53%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 17.8%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 17.8%;
    --muted-foreground: 217.9 15.8% 54.9%;
    --accent: 174 71% 53%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 17.8%;
    --input: 215 27.9% 17.8%;
    --ring: 197 71% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-content, .printable-content * {
    visibility: visible;
  }
  .printable-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .non-printable-content {
    display: none;
  }
}
